session_1_Introduction/node_modules/
session_2_ProjectManagement/node_modules/
session_3_Software_Develoment_Methods/node_modules/
session_4_Agile/node_modules/
session_5_extremeProgramming/node_modules/
session_6_scrum/node_modules/
session_7_handson/node_modules/